Imports

In [1]:
import psycopg2
from config import config

Define connect method to connect to the postgres database and return the connection

In [2]:
def connect():
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # read connection parameters
        params = config()

        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params)

        return conn

        
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)

Connect to the database

In [30]:
conn = connect()

Connecting to the PostgreSQL database...

Create the database tables

In [23]:
cur = conn.cursor()

cur.execute("""CREATE TABLE Country (
                    Country_Key int PRIMARY KEY, 
                    Name varchar(255),
                    Region varchar(255),
                    Continent varchar(255),
                    Currency varchar(255),
                    Capital varchar(255),
                    Total_Population int,
                    Birth_Rate float,
                    Life_Expectancy_At_Birth float
                );""")

cur.execute("""CREATE TABLE Month (
                    Month_Key int PRIMARY KEY,
                    Name varchar(255),
                    Quarter int,
                    Year int,
                    Decade int
                );""")

cur.execute("""CREATE TABLE Education (
                    Education_Key int PRIMARY KEY,
                    Total_Literacy_Rate float,
                    Male_Literacy_Rate float,
                    Female_Literacy_Rate float,
                    Primary_School_Enrollment float,
                    Post_Secondary_School_Enrollment float,
                    Public_Education_Spending float,
                    Num_Highschool_Grads int,
                    Num_Post_Secondary_Grads int,
                    Teachers_Per_1000_Students float,
                    Official_Entrance_Age_To_Compulsory_Education float
                );""")

cur.execute("""CREATE TABLE Health (
                    Health_Key int PRIMARY KEY,
                    Domestic_Health_Expenditure float,
                    Hospital_Beds float,
                    Immunization_attr_Hep int,
                    Immunization_attr_DPT int,
                    Immunization_attr_Measles int,
                    Immunization_attr_Polio int,
                    Num_Surgical_procedures int,
                    Num_Death_infant int,
                    Num_Death_stilbirths int,
                    Num_Death_Elderly int,
                    Num_health_professionals_Nurses float,
                    Num_health_professionals_Physicians float,
                    Prevalence_health_condition_overweight float,
                    Prevalence_health_condition_diabetes float,
                    Prevalence_health_condition_hiv float,
                    Adults_HIV_15up float,
                    Adults_new_HIV_15up float,
                    Children_HIV_under15 float,
                    Children_new_HIV_under15 float,
                    Homelessness_rate_male float,
                    Homelessness_rate_female float,
                    Homelessness_rate_total float,
                    CrimeRate float,
                    Cost_of_living_index float
                );""")

cur.execute("""CREATE TABLE Quality_of_Life (
                    Quality_of_Life_Key int PRIMARY KEY,
                    Access_to_Drinking_Water float,
                    Access_to_Sanitation float,
                    Access_to_Basic_Handwashing_Facilities float,
                    Unemployment_Rate_F float,
                    Unemployment_Rate_M float,
                    Unemployment_Rate_T float,
                    Maternal_Leave_Benefits int,
                    Male_Homelessness_Rate float,
                    Female_Homelessness_Rate float,
                    Crime_Rate float, 
                    Cost_Of_Living_Index float
                );""")

cur.execute("""CREATE TABLE Population(
                    Population_Key int PRIMARY KEY,
                    Life_Expectancy_Attributes_F float,
                    Life_Expectancy_Attributes_M float,
                    Life_Expectancy_Attributes_T float,
                    Net_Migration int,
                    Population_Statistics_0_15 int,
                    Population_Statistics_16_30 int,
                    Population_Statistics_31_64 int,
                    Population_Statistics_65 int,
                    Rural_Population float,
                    Rural_Population_Growth_Rate float,
                    Rural_Poverty_Rate float,
                    Urban_Population float,
                    Urban_Population_Growth_Rate float,
                    Urbanl_Poverty_Rate float
                );""")

cur.execute("""CREATE TABLE Event (
                    Event_key int PRIMARY KEY,
                    Name varchar(255),
                    Description varchar(255),
                    Start_date Date,
                    End_date Date,
                    Start_Month int,
                    End_Month int,
                    Outcome varchar(255),
                    Fatalities int,
                    Hospitalizations int,
                    Missing int
                );""")

cur.close()

Fact Table

In [34]:
cur = conn.cursor()

cur.execute("""CREATE TABLE Fact_Table (
                    Month_Key int,
                    Country_Key int,
                    Education_Key int,
                    Population_Key int,
                    Quality_of_Life_Key int,
                    Health_Key int,
                    Event_Key int,
                    Quality_of_life int,
                    Development_Index int,
                    Human_Development_Index int,
                    CONSTRAINT fk_month FOREIGN KEY(Month_Key) REFERENCES Month(Month_Key),
                    CONSTRAINT fk_country FOREIGN KEY(Country_Key) REFERENCES Country(Country_Key),
                    CONSTRAINT fk_education FOREIGN KEY(Education_Key) REFERENCES Education(Education_Key),
                    CONSTRAINT fk_population FOREIGN KEY(Population_Key) REFERENCES Population(Population_Key),
                    CONSTRAINT fk_quality_of_life FOREIGN KEY(Quality_of_Life_Key) REFERENCES Quality_Of_Life(Quality_of_Life_Key),
                    CONSTRAINT fk_health FOREIGN KEY(Health_Key) REFERENCES Health(Health_Key),
                    CONSTRAINT fk_event FOREIGN KEY(Event_Key) REFERENCES Event(Event_Key)
                );""")

conn.close()